<section id="page-lifecycle" class="page">
    <div class="page-header">
        <h1>Lifecycle</h1>
    </div>
    <p>
        Manage lifecycle of states to control memory usage.
    </p>
    <pre><code class="language-javascript" data-bind="highlight: true">function activate() {
    // Load necessary data 
    return Promise;
}</code></pre>
    <pre><code class="language-javascript" data-bind="highlight: true">function deactivate() {
    // Unload data to free up memory and leave viewmodel in iddle state
    return Promise;
}</code></pre>
</section>