<section id="page-processing" class="page">
    <div class="page-header">
        <h1>Processing</h1>
    </div>
    <p>
        Long processing methods should avoid UI blocking.
    </p>
    <p>
        <button class="btn btn-default" data-bind="click: onBadProcessClick">Bad Process</button>
        <button class="btn btn-default" data-bind="click: onWellProcessClick">Well Process</button>
    </p>
    <section>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </p>
        <p>
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
        <p>
            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
        </p>
        <p>
            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
        </p>
        <p>
            Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.
        </p>
    </section>
</section>